<html>

<head>
  <title>Main</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="module" src="src/app.js"></script>
</head>

<body>
  <div class="search__wrap">
    <div class="search__input_div">
      <input type="text" id="userInput">
    </div>
    <div id="userList"></div>
  </div>

  <div id="reposit__List_wrap">
      <div id="reposit__List_modal"></div>
  </div>

  <div class="bcakground">
    <div class="background-image bg-moving"></div>
  </div>
  <div id="loading__wrap">Loading...</div>
</body>

</html>